<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Aadhaar Online Appointment Service</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	
$(function() { displayAadhaarorNot(); });

$(function() { displayChooseDateorNot(); });

$(function() {
	
	var loadregion= /*[[${loadregion}]]*/;
	if(loadregion=='1')
		{
	$('#stateSupport').trigger('change'); 
		}
	
	});
	
function numeric(event)
{
	
	return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode==8);	

}

function alpha(e) {
	var k;
	document.all ? k=e.keyCode : k=e.which;
	return ((k>64 && k<91) || (k>96 && k<123) || k==8 || k==32);
}

function mail(e) {
	var m;
	document.all ? m=e.keyCode : m=e.which;
	return ((m>=64 && m<=90) || (m>96 && m<123) || (m>=48 && m<=57) || m==45 || m==46 || m==8 || m==95);
}

function showDistricts() {
var states= /*[[${states}]]*/;
var selectedIndex = $("#stateSupport option:selected").index();
var state=states[selectedIndex];


var districts= /*[[${districts}]]*/;
$('#districtSupport')
.find('option')
.remove()
.end();
$('#pecSupport')
.find('option')
.remove()
.end();
for (i = 0; i < districts.length; i++) {
var district=districts[i];
if(district.stateid==state.stateid)
{

    $('#districtSupport').append($('<option>', { 
        value: district.districtid,
        text : district.districtname 
    }));

}

}

$('#districtSupport').trigger('change');
		
}

function showPecs() {
	
	var districts= new Array();
	var districts1= new Array();
	$("#districtSupport option").each(function()
			{
			    districts1.push($(this).val());
			});
	var districts2= /*[[${districts}]]*/;
	for(p=0;p<districts1.length;p++)
	{
		var dist1=districts1[p];
	     for(q=0;q<districts2.length;q++)
		{
		  dist2=districts2[q];
		  if(dist1==dist2.districtid)
			  {
			  
			  districts.push(dist2);
			  
			  }
			
			
			
			
		}	
		
		
	}
	var selectedIndex = $("#districtSupport option:selected").index();
	var district=districts[selectedIndex];
    var pecs= /*[[${pecs}]]*/;
	$('#pecSupport')
	.find('option')
	.remove()
	.end();
	for (i = 0; i < pecs.length; i++) {
	var pec=pecs[i];
	if(district.districtid==pec.districtid)
	{
	
	    $('#pecSupport').append($('<option>', { 
	        value: pec.pecid,
	        text : pec.pecname 
	    }));

	}
	}
	

		
	}


function displayAadhaarorNot() {
	
	var enrolType = document.getElementById('enrolTypeSupport');
	var enrolTypeData = enrolType.options[enrolType.selectedIndex].text;
	
	if(enrolTypeData=='New Enrolment')
	{
	
		document.getElementById('aadhaar').style.display = 'none';
		
	}
	else{
		
		document.getElementById('aadhaar').style.display = 'block';
	}
	
}

function displayChooseDateorNot() {
	
	var entryType = document.getElementById('entryTypeSupport');
	var entryTypeData = entryType.options[entryType.selectedIndex].text;
	
	if(entryTypeData=='Partial Information')
	{
	
		document.getElementById('choosedate').style.display = 'block';
		
	}
	else{
		
		document.getElementById('choosedate').style.display = 'none';
	}
	
}


function validateForm() {
	
	var aadhaar=document.getElementById("aadhaar").value;
	var enrolType=document.getElementById("enrolTypeSupport");
	var enrolTypeData=enrolType.options[enrolType.selectedIndex].value;
	if(aadhaar=='' && enrolTypeData!='1')
		{
		alert("Aadhaar is Mandatory if it is Updation case");
		return false;
		}
	
	
	var rdate=document.getElementById("rdate").value;
	var rtimeslot=document.getElementById("rtimeslot").value;
	var pec=document.getElementById("pecSupport");
	var pecname=pec.options[pec.selectedIndex].text;
	var entryType=document.getElementById("entryTypeSupport");
	var entryTypeData=entryType.options[entryType.selectedIndex].value;
	
	if(entryTypeData=='1')
	{
	if(rdate=='')
	{
	alert("Choose Appointment Date");
	return false;
	}
	}
	
	var confrm= /*[[${confrm}]]*/;
	
	if(confirm("Your Selected Appointment is [ Date-"+rdate+", Timeslot-"+rtimeslot+", Pec-"+pecname+" ].\n"+confrm+"Do you want to continue?"))
	{
		if(entryTypeData=='1')
		{	
	$("#AppointmentForm").attr('target', '_blank');
	setTimeout(function(){ window.location.href = 'http://203.176.156.222:8080/aadhaartokens/'; }, 5000); 
		}
	
	return true;
	
	}
else{
	return false;	
	
}
	
}


/*]]>*/
</script>

</head>

<body>
    <div class="header">
      <div class="row">
         <!-- <div class="col-sm-1" style="background-color: MidnightBlue;"></div> -->
         <div class="col-sm-3" style="background-color: MidnightBlue;padding-top:4px;padding-bottom:9px;padding-left:20px">
	     <h2 style="padding-top:4px;padding-bottom:4px;padding-left:20px"><span><img th:src="@{/images/aadhaarlogo.png}"/></span></h2>
	     </div>
	     <div class="col-sm-7" style="background-color: MidnightBlue;">
	     <h2>Aadhaar Online Appointment Service <span class="label label-info badgefont">[Resident Portal]</span></h2>
	     </div>
	     <div class="col-sm-2" style="background-color: MidnightBlue;padding:12px">
	     <h2 style="padding:4px"><span style="background-color: white;padding-top:1px;padding-bottom:3px;padding-left:2px;padding-right:2px"><img th:src="@{/images/karvygrouplogo.png}"/></span></h2>
	     </div>
	</div>
	</div>
	<div class="container font">
	    <div class="row loginpanelspace">
		    <div class="col-md-8 col-md-offset-2">
		        <div class="login-panel panel panel-primary ppanel">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-sm-10">
                        <h3 class="panel-title">Schedule Appointment</h3>
                        </div>
                        <div class="col-sm-2">
                        <a th:href="@{/login}" class="btn btn-danger btn-block" role="button">Login</a>
                        </div>
                       </div>
                    </div>
                    <div class="panel-body">
                     <form autocomplete="off" action="#" th:action="@{/}"
					           th:object="${tokenRequest}" method="post" class="form-horizontal"
					           role="form" id="AppointmentForm">
					        <div class="form-group">
					            <div class="row">
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					            State
					            </div>
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					            District
					            </div>
					            </div>
					            <div class="row">
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					               <select class="form-control" th:field="*{state}"  id="stateSupport" name="stateSupport" onChange="showDistricts()"  th:readonly="${disable}">
                                       <option th:each="st : ${states}" th:value="${st.stateid}" th:text="${st.statename}"></option>
                                   </select>
					            </div>
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					               <select class="form-control" th:field="*{district}"  id="districtSupport" name="districtSupport" onChange="showPecs()"   th:readonly="${disable}">
                                       <option th:each="dt : ${districts}" th:value="${dt.districtid}" th:text="${dt.districtname}"></option>
                                   </select>
					            </div>
					            </div>
					        </div>
							
							<div class="form-group">
					            <div class="row">
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					            Pec
					            </div>
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					            EnrolType
					            </div>
					            </div>
					            <div class="row">
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					               <select class="form-control" th:field="*{pec}"  id="pecSupport" name="pecSupport"  th:readonly="${disable}">
                                       <option th:each="pec : ${pecs}" th:value="${pec.pecid}" th:text="${pec.pecname}"></option>
                                   </select>
					            </div>
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					               <select class="form-control" th:field="*{enroltype}"  id="enrolTypeSupport" name="enrolTypeSupport" onChange="displayAadhaarorNot()"   th:readonly="${disable}">
                                       <option th:each="et : ${enrolmenttypes}" th:value="${et.sno}" th:text="${et.enrolmenttype}"></option>
                                   </select>
					            </div>
					            </div>
					        </div>
							
							<div class="form-group">
					            <div class="row">
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					            <input type="text" th:field="*{name}" placeholder="Name"
								           class="form-control"   th:readonly="${disable}" style="text-transform: uppercase" onkeypress="return alpha(event)"/> 
						        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								           class="validation-message"></label>
					            </div>
					            <div class="col-sm-1"></div>
					            <div class="col-sm-2">
					            <input type="text" th:field="*{mobile}" placeholder="Mobile No."
								           class="form-control"   th:readonly="${disable}" onkeypress="return numeric(event)"/> 
						        <label th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"
								           class="validation-message"></label>
								<input type="hidden" th:field="*{time}" class="form-control"/>   
								<input type="hidden" th:field="*{status}" class="form-control"/>          
					            </div>
					            <div class="col-sm-2">
					            <button type="submit" class="btn btn-danger btn-block">Generate OTP</button>
					            </div>
					            </div>
					            
					        </div>
							
							<div th:if="${tokenRequest.status != 'N'}" class="form-group">
					            <div class="row">
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					            </div>
					            <div class="col-sm-1"></div>
					            <div class="col-sm-2">
					            <input type="text" th:field="*{otp}" placeholder="OTP"
								           class="form-control" th:readonly="${tokenRequest.status == 'V'} and ${disable}" onkeypress="return numeric(event)"/> 
						        <label th:if="${#fields.hasErrors('otp')}" th:errors="*{otp}"
								           class="validation-message"></label>
								</div>
					            <div class="col-sm-2">
					            <button type="submit" class="btn btn-danger btn-block">Validate OTP</button>
					            </div>
					            </div>
					            
					        </div>
					        
					        <div class="form-group">
					            <div class="row">
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					            </div>
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					            EntryType
					            </div>
					            </div>
					            <div class="row">
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					               <input type="text" th:field="*{email}" placeholder="Email"
								           class="form-control" style="text-transform: uppercase" onkeypress="return mail(event)"/> 
						           <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								           class="validation-message"></label>
					            </div>
					            <div class="col-sm-1"></div>
					            <div class="col-sm-4">
					               <select class="form-control" th:field="*{entrytype}"  id="entryTypeSupport" name="entryTypeSupport"  onChange="displayChooseDateorNot()">
                                       <option th:each="et : ${entrytypes}" th:value="${et.typeid}" th:text="${et.information}"></option>
                                   </select>
					            </div>
					            </div>
					        </div>
							
							<div th:if="${tokenRequest.status == 'V'}" class="form-group" >
							    <div class="row">
							      <div class="col-sm-1"></div> 
                                   <div class="col-sm-4">
                                   <input type="text" th:field="*{aadhaar}" placeholder="Aadhaar"
								           class="form-control" onkeypress="return numeric(event)" /> 
						          <label th:if="${#fields.hasErrors('aadhaar')}" th:errors="*{aadhaar}"
								           class="validation-message"></label>
                                   </div>
							      <div class="col-sm-1"></div>
							      <div class="col-sm-4" id="choosedate">
			                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Choose Date</button>
			                        
			                        <div id="myModal" class="modal fade" role="dialog">
                                       <div class="modal-dialog" style="width:70%;">

                                            <!-- Modal content-->
                                        <div class="modal-content">
                                        <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2"><h4 class="modal-title">Choose Date</h4></div>
                                        <div class="col-sm-9"></div>
                                        </div>
                                        <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-8"><label id="displayText" style="font-size:20px;color:#5cb85c;text-align: left;"></label></div>
                                        <div class="col-sm-2"><button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Submit</button></div>
                                        <div class="col-sm-1"></div>
                                        </div>
                                        
                                        
                                        </div>
                                        <div class="modal-body" id="rf">
                                           <div class="row" th:each="rowdate : ${rowdates}">
                                             <div class="col-sm-1"></div>
                                             <div class="col-sm-3" th:style="${datetoken.selected} ? 'border: 2px solid #428bca;' : 'border: 1px solid black;'" th:each="datetoken : ${rowdate.branchDateTokens}" th:onclick="'selectDate(\'' + ${datetoken.id} + '\',\'' + ${datetoken.date} + '\',\'' + ${datetoken.availabletokenno}  + '\',\'' + ${datetoken.maxtokens}  + '\',\'' + ${datetoken.timeslot}  + '\',\'' + ${datetoken.peccode} + '\');'" th:id="${datetoken.id}" >
                                             <div class="media">
                                              
                                              <div class="media-body">
                                                 <h5 class="media-heading">Available Date:<strong><label th:text="${datetoken.date}"></label></strong></h5>
                                                  <h5 class="media-heading">Available Time:<strong><label th:text="${datetoken.timeslot}"></label></strong></h5>
                                                  <h5 class="media-heading">Token Status:</h5>
                                                 <p style="font-size: 20px;"><strong><label th:text="${datetoken.availabletokenno}+'/'+${datetoken.maxtokens}"></label></strong></p>
                                              </div>
                                              </div>
                                           
                                             </div>
                                             <div class="col-sm-1"></div>
                                           </div>
                                        </div>
                                        
                                        </div>

                                        </div>
                                     </div>
                                   </div> 
                                   
                                </div>
                                
                                <input type="hidden" th:field="*{rid}" class="form-control"/>   
								<input type="hidden" th:field="*{rdate}" class="form-control"/>          
                                <input type="hidden" th:field="*{ravtoken}" class="form-control"/>   
								<input type="hidden" th:field="*{rmxtoken}" class="form-control"/>          
                                <input type="hidden" th:field="*{rtimeslot}" class="form-control"/>   
								<input type="hidden" th:field="*{rpeccode}" class="form-control"/>          
                                      
                                      
			                </div>
							
							<div class="form-group">
					            <div class="row">
					            <div class="col-xs-1"></div>
					                <span class="col-xs-9 label label-primary" style="font-size:15px" id="selAvl"></span>
						        <div class="col-xs-2"></div>
						        </div>
						        <div class="row"></div>
					        </div>
							
					        <div th:if="${tokenRequest.status == 'V'}" class="form-group">
					            <div class="row">
					            <div class="col-sm-4"></div>
						        <div class="col-sm-3">
							        <button type="submit" class="btn btn-danger btn-block" onclick="return validateForm()">Schedule Appointment</button>
						        </div>
						        <div class="col-sm-5"></div>
						        </div>
					        </div>
					
					       <div th:if="${message}" class="form-group">
					            <div class="row">
					            <div class="col-xs-1"></div>
					                <span class="col-xs-9 label label-primary" th:text="${msg}" style="font-size:15px"></span>
						        <div class="col-xs-2"></div>
						        </div>
						        <div class="row"></div>
					        </div>
					    
					   </form>
		            </div>
                </div>
		    </div>
		</div>
		
	</div>
	<div style="clear:both">
	<p class="footer">Copyright &copy; 2017 [KDMSL] All Rights Reserved</p>
	</div>
	<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
	function selectDate(rid,rdate,ravtoken,rmxtoken,rtimeslot,rpeccode,datetoken) {
		
    	document.getElementById("rid").value = rid;
		document.getElementById("rdate").value = rdate;
		document.getElementById("ravtoken").value = ravtoken;
		document.getElementById("rmxtoken").value = rmxtoken;
		document.getElementById("rtimeslot").value = rtimeslot;
		document.getElementById("rpeccode").value = rpeccode;
		document.getElementById('displayText').innerHTML = "Selected Date Availability - Date:-"+rdate+" , Time Slot:-"+rtimeslot+" , Token No:-"+ravtoken+"/"+rmxtoken;
		document.getElementById('selAvl').innerHTML = "Selected Date Availability - Date:-"+rdate+" , Time Slot:-"+rtimeslot+" , Token No:-"+ravtoken+"/"+rmxtoken;
		/* document.getElementById('displayText').value = "Current Availability- Date:-"+rdate+" , Time Slot:-"+rtimeslot+" , Token No:-"+ravtoken+"/"+rmxtoken; */
		
		for(var i = 0; i < 15; i++){
			if(i==rid)
				{
		document.getElementById(rid).style.color = "white";
		document.getElementById(rid).style.backgroundColor = "#428bca";
				}
			else{
		document.getElementById(i).style.color = "black";
		document.getElementById(i).style.backgroundColor = "white";
				
			}
		
		}
		
		<!-- var nextdatetokens= /*[[${rowdates}]]*/; -->
		
		/* document.getElementById("rpeccode").value = rpeccode;
		
        for(var i = 0; i < 5; i++){
    		var currentbranchDateTokens = nextdatetokens[i];
            for(var j = 0; j < 3; j++){   
            	
            var item = nextdatetokens[i].branchDateTokens[j];
            alert(item.id+" "+item.selected);
            if(item.id == rid){
            	
                item.selected = !item.selected;
                
            }else {
            	item.selected = false;
            }
            
    	}
        }  */
        
        
        
	}
	/*]]>*/
	</script>
</body>
</html>	
	