<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Aadhaar Token</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="header">
	     <h2>Aadhaar Token <span class="label label-info badgefont">[Resident Portal]</span></h2>
	</div>
	<div class="container font">
	    <div class="row loginpanelspace">
		    <div class="col-md-6 col-md-offset-2">
		        <div class="login-panel panel panel-primary ppanel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                     <form autocomplete="off" action="#" th:action="@{/service/registration}"
					           th:object="${tokenRequest}" method="post" class="form-horizontal"
					           role="form">
					        <div class="form-group">
					            <div class="row">
					            <div class="col-sm-6">
					            State
					            </div>
					            </div>
					            <div class="row">
					            <div class="col-sm-6">
					               <select class="form-control" th:field="*{state}"  id="dropSupport">
                                       <option th:each="st : ${states}" th:value="${st.stateid}" th:text="${st.statename}"></option>
                                   </select>
					            </div>
					            </div>
					        </div>
							
					        <div class="form-group">
						        <div class="col-sm-9">
							        <button type="submit" class="btn btn-primary btn-block">Register User</button>
						        </div>
					        </div>
					
					   </form>
		            </div>
                </div>
		    </div>
		</div>
		
	</div>
	<div style="clear:both">
	<p class="footer">Copyright © 2017 [KDMSL] All Rights Reserved</p>
	</div>
</body>
</html>	
	