<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>KMobRevamp Login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="header">
	     <h2>KMobRevamp <span class="label label-info badgefont">[Customer Relationship Interface]</span></h2>
	</div>
	<div class="container font">
	    <div class="row loginpanelspace">
		    <div class="col-md-4 col-md-offset-4">
		        <div class="login-panel panel panel-primary ppanel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                    <form th:action="@{/login}" method="POST" class="form-signin">
			          
			           <br/>
			           <input type="text" id="email" name="email"  th:placeholder="Email"
				             class="form-control" /> <br/> 
			           <input type="password"  th:placeholder="Password"
				             id="password" name="password" class="form-control" /> <br /> 
				
			           <div align="center" th:if="${param.error}">
			 	        <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
			           </div>
			           <button class="btn btn-md btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		            </form>
		            </div>
                </div>
		    </div>
		</div>
		
	</div>
	<div style="clear:both">
	<p class="footer">Copyright © 2017 [KDMSL] All Rights Reserved</p>
	</div>
</body>
</html>	
	