<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:th="http://www.thymeleaf.org">
 
 <head>
 <title>KMobRevamp Factory</title>
 <link rel="stylesheet" type="text/css" th:href="@{/css/adminhome.css}" />
 <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
 <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
 <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 
 <body>
    <div class="header">
	     <h2>KMobRevamp <span class="label label-info badgefont">[Customer Relationship Interface]</span></h2>
	</div>
 	<div class="container font">
 		<div class="panel-group" style="margin-top:40px">
 			<div class="panel panel-primary">
 				<div class="panel-heading nav navbar-default">
 				  <div class="row" style="color:white">  
 				    <div class="col-xs-5">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active"><a th:href="@{/factory/home}" class="" style="color:white">New Complaint</a>
                            </li>
                            <li><a th:href="@{/factory/searchcomplaint}" class="" style="color:white">Search Complaint</a>
                            </li>
                            <li><a th:href="@{/factory/registration}" class="" style="color:white">Registration</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-4">
                       <ul class="nav navbar-nav navbar-right">
                            <li><span th:utext="${userName}"></span></li>
                            <li><a th:href="@{/logout}" class="btn btn-danger" style="color:white;padding:2px;margin-left:8px">Logout</a></li>
                       </ul>     
                    </div>
 				  </div>	   
 				</div>
 				<div class="panel-body">
 					 
 					 <form autocomplete="off" action="#" th:action="@{/factory/home}" th:object="${complaint}" method="post" class="form-horizontal" role="form" target="_blank">
					       <div class="container font">
					         <div th:if="${saved}" class="row">
					            <span class="col-xs-11 label label-success" style="font-size:20px">Complaint Saved Successfully</span>
					            
					         </div>
					         <div th:if="${saved}" class="row">
					         <br/>
					         </div>
					         <div class="row">
					            <div class="col-xs-4">
					            <img th:src="@{/images/Forstar.PNG}"/>
					            </div>
					            <div class="col-xs-3">
					            <input type="text" th:field="*{sno}" placeholder="Serial No"
								           class="form-control" /> 
						            <label th:if="${#fields.hasErrors('sno')}" th:errors="*{sno}"
								           class="validation-message"></label>
					            </div>
					            <div class="col-xs-4">
					            <table border="1">
					            <tr>
					               <td style="padding:3px"></td>
					               <td style="padding:3px"><h5>Date &amp; Time[DD-MM-YYYY HH:mm]</h5></td>
					            </tr>
					            <tr>
					               <td style="padding:3px">IN</td>
					               <td style="padding:3px">
					               <input type="text" th:field="*{indate}" placeholder="DD-MM-YYYY HH:mm"
								           class="form-control" /> 
						            <label th:if="${#fields.hasErrors('indate')}" th:errors="*{indate}"
								           class="validation-message"></label>
								   </td>
					               
					            </tr>
					            <tr>
					               <td style="padding:3px">Regn.</td>
					               <td style="padding:3px">
					               <input type="text" th:field="*{regndate}" placeholder="DD-MM-YYYY HH:mm"
								           class="form-control" /> 
						            <label th:if="${#fields.hasErrors('regndate')}" th:errors="*{regndate}"
								           class="validation-message"></label>
								   </td>
					               
					            </tr>
					            </table>
					            </div>
					         </div>
					         <br/>
					         <div class="row">
					               <div class="col-xs-2">
					                  <input type="text" th:field="*{workorderno}" placeholder="Work Order No"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('workorderno')}" th:errors="*{workorderno}"
								           class="validation-message"></label>
								   </div>
								   <div class="col-xs-1"></div>
								   <div class="col-xs-2">
					                  <input type="text" th:field="*{date}" placeholder="Date[DD-MM-YYYY]"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
								           class="validation-message"></label>
								   </div>
								   <div class="col-xs-1"></div>
								   <div class="col-xs-2">
					                  <input type="text" th:field="*{tokenno}" placeholder="Token No"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('tokenno')}" th:errors="*{tokenno}"
								           class="validation-message"></label>
								   </div>
								   <div class="col-xs-1"></div>
								   <div class="col-xs-2">
					                  <input type="text" th:field="*{claimno}" placeholder="Claim No"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('claimno')}" th:errors="*{claimno}"
								           class="validation-message"></label>
								   </div>
								   <div class="col-xs-1"></div>
					         </div>
					         <br/>
					         <div class="row">
					            <div class="col-xs-3">
					            <input type="text" th:field="*{model}" placeholder="Model"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('model')}" th:errors="*{model}"
								           class="validation-message"></label>
								<input type="text" th:field="*{slno}" placeholder="Serial No"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('slno')}" th:errors="*{slno}"
								           class="validation-message"></label>
								<input type="text" th:field="*{imeiorrsnno}" placeholder="IMEI/RSN No"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('imeiorrsnno')}" th:errors="*{imeiorrsnno}"
								           class="validation-message"></label>
								<input type="text" th:field="*{batteryno}" placeholder="Battery No"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('batteryno')}" th:errors="*{batteryno}"
								           class="validation-message"></label>
								<input type="text" th:field="*{dateofpurchase}" placeholder="Date of Purchase[DD-MM-YYYY]"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('dateofpurchase')}" th:errors="*{dateofpurchase}"
								           class="validation-message"></label>
								      <input type="text" th:value="${st}" class="form-control" readonly="readonly"/> 
						              <input type="hidden" name="status" th:value="${st}"/>
					            </div>
					            <div class="col-xs-1"></div>
					            <div class="col-xs-3">
					            <input type="text" th:field="*{cname}" placeholder="Customer Name"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('cname')}" th:errors="*{cname}"
								           class="validation-message"></label>
								<textarea th:field="*{caddress}" placeholder="Customer Address" class="form-control" >
								         </textarea> 
						              <label th:if="${#fields.hasErrors('caddress')}" th:errors="*{caddress}"
								           class="validation-message"></label>
								
								<input type="text" th:field="*{cmobile}" placeholder="Mobile No"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('cmobile')}" th:errors="*{cmobile}"
								           class="validation-message"></label>
								<input type="text" th:field="*{clandline}" placeholder="Landline No"
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('clandline')}" th:errors="*{clandline}"
								           class="validation-message"></label>
								</div>
								<div class="col-xs-1"></div>
								<div class="col-xs-3">
								<table border="1">
								<tr><td colspan="2" style="padding:5px">FORSTAR TECHNO SOLUTIONS PRIVATE LIMITED</td></tr>
								<tr><td colspan="2" style="padding:5px">IT Park, Ganga Malanpur, Morena link Road</td></tr>
								<tr><td colspan="2" style="padding:5px">Gwalior M.P. 474003</td></tr>
								<tr><td colspan="2" style="padding:5px">Customer care no : 0751 715 0001</td></tr>
								<tr>
								    <td style="padding:5px">support@forstarindia.com</td>
								    <td style="padding:5px">www.forstarindia.com</td>
								</tr>
								</table>
								</div>
					         </div>
					         <br/>
					         <div class="row">
					         <div class="col-xs-10">
					         <label>Nature of Complaint As reported By Customer : ( To be Customer).</label>
					         </div>
					         </div>
					         <div class="row">
					         <div class="col-xs-11">
					         <textarea th:field="*{natureofcomplaint}" placeholder="" class="form-control" >
								         </textarea> 
						              <label th:if="${#fields.hasErrors('natureofcomplaint')}" th:errors="*{natureofcomplaint}"
								           class="validation-message"></label>
					         </div>
					         </div>
					         <br/>
					         <div class="row">
					         <div class="col-xs-10">
					         <label>Condition of Equipment ( External Only )</label>
					         </div>
					         </div>
					         <div class="row">
					         <div class="col-xs-2">
					         <div>Handset Damaged</div>
					         <div>LCD Broken/Bleeding</div>
					         <div>Adaptor burnt</div>
					         </div>
					         <div class="col-xs-1">
					         <div><input type="checkbox" th:field="*{handsetdamaged}"></input></div>
					         <div><input type="checkbox" th:field="*{lcdbroken}"></input></div>
					         <div><input type="checkbox" th:field="*{adaptorburnt}"></input></div>
					         </div>
					         <div class="col-xs-1"></div>
					         <div class="col-xs-2">
					         <div>Scratches on Aoshthetich/Body</div>
					         <div>Keypad faded / Key Missings</div>
					         <div>ACC Function</div>
					         </div>
					         <div class="col-xs-1">
					         <div><input type="checkbox" th:field="*{scratchesonbody}"></input></div>
					         <div><input type="checkbox" th:field="*{keypadfaded}"></input></div>
					         <div><input type="checkbox" th:field="*{accfunction}"></input></div>
					         </div>
					         <div class="col-xs-1"></div>
					         <div class="col-xs-2">
					         <div>Liquid Logged</div>
					         <div>Battery Damaged</div>
					         </div>
					         <div class="col-xs-1">
					         <div><input type="checkbox" th:field="*{liquidlogged}"></input></div>
					         <div><input type="checkbox" th:field="*{batterydamaged}"></input></div>
					         </div>
					         </div>
					         <br/>
					         <div class="row">
					         <div class="col-xs-3">
					         <label>Received Item:</label>
					         </div>
					         <div class="col-xs-8">
					         <label>Fault Found By Engineer:</label>
					         </div>
					         </div>
					         <div class="row">
					         <div class="col-xs-2">
					         <div style="margin-top:3px;margin-bottom:3px">Hand set</div>
					         <div style="margin-top:3px;margin-bottom:3px">Battery</div>
					         <div style="margin-top:3px;margin-bottom:3px">Charger</div>
					         <div style="margin-top:3px;margin-bottom:3px">Hands free</div>
					         <div style="margin-top:3px;margin-bottom:3px">Sound Mate</div>
					         <div style="margin-top:3px;margin-bottom:3px">Memory card</div>
					         <div style="margin-top:3px;margin-bottom:3px">Data Cable</div>
					         </div>
					         <div class="col-xs-1">
					         <div style="margin-top:3px;margin-bottom:3px"><input type="checkbox" th:field="*{handset}"></input></div>
					         <div style="margin-top:3px;margin-bottom:3px"><input type="checkbox" th:field="*{battery}"></input></div>
					         <div style="margin-top:3px;margin-bottom:3px"><input type="checkbox" th:field="*{charger}"></input></div>
					         <div style="margin-top:3px;margin-bottom:3px"><input type="checkbox" th:field="*{handsfree}"></input></div>
					         <div style="margin-top:3px;margin-bottom:3px"><input type="checkbox" th:field="*{soundmate}"></input></div>
					         <div style="margin-top:3px;margin-bottom:3px"><input type="checkbox" th:field="*{memorycard}"></input></div>
					         <div style="margin-top:3px;margin-bottom:3px"><input type="checkbox" th:field="*{datacable}"></input></div>
					         </div>
					         <div class="col-xs-8">
					         <textarea th:field="*{fault}" placeholder="" class="form-control" >
								         </textarea> 
						              <label th:if="${#fields.hasErrors('fault')}" th:errors="*{fault}"
								           class="validation-message"></label>
							 <div class="row">
							 <div class="col-xs-4">
							 <table border="1" style="width:200px">
							 <tr>
							 <td colspan="2" style="padding:3px" align="center">Estimate Details</td>
							 </tr>
							 <tr>
							 <td style="padding:3px" align="center">Type</td>
							 <td style="padding:3px" align="center">Amount</td>
							 </tr>
							 <tr>
							 <td style="padding:3px" align="center">Labour</td>
							 <td style="padding:3px" align="center">
							 <input type="text" th:field="*{labour}" placeholder=""
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('labour')}" th:errors="*{labour}"
								           class="validation-message"></label>
						     </td>
							 </tr>
							 <tr>
							 <td style="padding:3px" align="center">Part</td>
							 <td style="padding:3px" align="center">
							    <select class="form-control" th:field="*{part}"  id="dropFactory">
                                       <option th:each="prt : ${parts}" th:value="${prt.part}+${prt.rate}" th:text="${prt.part}+'-'+${prt.rate}"></option>
                                </select>
						     </td>
							 </tr>
							 <tr>
							 <td style="padding:3px" align="center">Approved</td>
							 <td style="padding:3px" align="center">
							 <input type="checkbox" th:field="*{approved}"/>
						     </td>
							 </tr>
							 </table>
							 </div>	 
							 <div class="col-xs-7">
							 <table border="1" style="width:500px">
							 <tr>
							 <td colspan="2" style="padding:3px" align="left">Details of Stand by model issued:</td>
							 </tr>
							 <tr>
							 <td style="padding:2px" align="center">Stand By Model</td>
							 <td style="padding:2px" align="center">
							 <input type="text" th:field="*{standbymodel}" placeholder=""
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('standbymodel')}" th:errors="*{standbymodel}"
								           class="validation-message"></label>
						     </td>
							 </tr>
							 <tr>
							 <td style="padding:2px" align="center">Serial No</td>
							 <td style="padding:2px" align="center">
							 <input type="text" th:field="*{serialno}" placeholder=""
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('serialno')}" th:errors="*{serialno}"
								           class="validation-message"></label>
						     </td>
							 </tr>
							 <tr>
							 <td style="padding:2px" align="center">Ref./IMEI</td>
							 <td style="padding:2px" align="center">
							 <input type="text" th:field="*{reforimei}" placeholder=""
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('reforimei')}" th:errors="*{reforimei}"
								           class="validation-message"></label>
						     </td>
							 </tr>
							 <tr>
							 <td style="padding:2px" align="center">Date</td>
							 <td style="padding:2px" align="center">
							 <input type="text" th:field="*{standbydate}" placeholder=""
								           class="form-control" /> 
						              <label th:if="${#fields.hasErrors('standbydate')}" th:errors="*{standbydate}"
								           class="validation-message"></label>
						     </td>
							 </tr>
							 </table>
							 </div>
							 </div>          
					         </div>
					         </div>
					         <div class="row">
					         <br/>
					         <div class="col-xs-11">
					         <label>I have gone through the terms and Conditions mentioned, herein and overleaf and agree to abide by the same</label>
					         </div>
					         </div>
					         <div class="row">
					         <br/>
					         <div class="col-xs-7">
					         <div style="margin-top:3px;margin-bottom:3px">I will update it later</div>
					         <div style="margin-top:3px;margin-bottom:3px">I have received the equipment in satisfactory working conditions</div>
					         <div style="margin-top:3px;margin-bottom:3px">I here by reject the estimate given &amp; take back the handset as per my wish</div>
					         </div>
					         <div class="col-xs-1">
					         <div style="margin-top:3px;margin-bottom:3px"><input type="radio" th:field="*{receivedequipmentorrejectestimate}" value="willupdate" checked="checked"></input></div>
					         <div style="margin-top:3px;margin-bottom:3px"><input type="radio" th:field="*{receivedequipmentorrejectestimate}" value="receivedequipment"></input></div>
					         <div style="margin-top:3px;margin-bottom:3px"><input type="radio" th:field="*{receivedequipmentorrejectestimate}" value="rejectestimate"></input></div>
					         </div>
					         </div>
					         <br/>
					         <br/>
					         <div class="row">
					         <div class="col-xs-2">
					         Signature of the Customer
					         </div>
					         <div class="col-xs-1"><input type="checkbox" th:field="*{sig_customer1}"></input></div>
					         <div class="col-xs-1"></div>
					         <div class="col-xs-2">
					         Received(ASC Personnel)
					         </div>
					         <div class="col-xs-1"><input type="checkbox" th:field="*{sig_asc_personnel}"></input></div>
					         <div class="col-xs-1"></div>
					         <div class="col-xs-2">
					         Signature of the Customer
					         </div>
					         <div class="col-xs-1"><input type="checkbox" th:field="*{sig_customer2}"></input></div>
					         <div class="col-xs-1"></div>
					         </div>
					         <br/>
					         <br/>
					         <div class="row">
					         <div class="col-xs-4"></div>
					         <div class="col-xs-3">
					         <button class="btn btn-md btn-danger btn-block" name="Submit" value="Submit" type="Submit" th:text="Submit"></button>
					         </div>
					         <div class="col-xs-4"></div>
					         </div>
					         <br/>
					         <br/>
							 </div>
 					 </form>
 					 
 				</div>
 				
 			</div>
 		</div>
 		
 	</div>
 	<div style="clear:both">
	<p class="footer">Copyright © 2017 [KDMSL] All Rights Reserved</p>
	</div>
 </body>
 </html>